html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(208, 255, 239);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

main{
  display: flex;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

footer {
    border-top: gray solid 2px;
    text-align: center;
}

nav {
    height: 6rem;
}

button {
    background-color: #4CAF50; /* Green */
    border: gray solid  1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
}

button:hover{
    border: lightgrey solid  1px;
}

button:disabled {
    background-color: #4CAF90; /* Green */
}

button:disabled:hover {
    border: gray solid  1px;
}

.info-status {
    text-align: left;
}

span{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: "center";
}

.main-game {
    position: absolute;
    top: calc(50% - 40vh);
    right: calc(50% - 40vh);
}

.icon {
    width: 68px;
    height: 68px;
    padding: 0.6rem;
}

#top-message-container {
    position: absolute;
    height: 40px;
    width: 250px;
    top: calc(50% - 40px);
    right: calc(50% - 125px);
    z-index: 2;
    font-size: 32px;
    text-align: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 0.2rem;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 80vh;
    height: 80vh;;
}

.allowed-click-pad{
    background-color: black;
    cursor: pointer;
}

#blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

#red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

#yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

#green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.5;
}